@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap");

body {
  padding-top: 50px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #f8f5f2;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #123458;
  font-family: "Montserrat", sans-serif;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  margin-left: 20px;
  cursor: pointer;
}

/* Panel stil */
.panel {
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  background-color: #f8f5f2;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-left: 1px solid #ddd;
  z-index: 1000;
}

/* Panel Header */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.panel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 50px !important;
}

.panel-header .register-link {
  font-size: 0.9rem;
  color: #888;
  cursor: pointer;
  font-weight: 500;
  margin-left: 10px !important;
}

.panel-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.panel-header .register-link {
  font-size: 0.9rem;
  color: #888;
  cursor: pointer;
  font-weight: 500;
  text-align: right;
  margin-left: auto; /* Gura link do kraja desno */
}

.panel-header .register-link:hover {
  text-decoration: none;
  color: rgb(29, 29, 29);
  font-weight: 500;
  transition: 3ms;
}

.icons .icon {
  font-size: 1.5rem;
  color: black;
  padding: 10px;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.icons .icon:hover {
  color: #3b3b3b;
}

svg.svg-inline--fa.fa-user.icon {
  background-color: #f8f5f2 !important;
  color: #123458;
}
svg.svg-inline--fa.fa-sliders.icon {
  background-color: #f8f5f2 !important;
  color: #123458;
}
svg.svg-inline--fa.fa-plus.icon {
  background-color: #f8f5f2 !important;
  color: #123458;
}
svg.svg-inline--fa.fa-sliders.icon {
  background-color: #f8f5f2 !important;
  color: #123458;
}
svg.svg-inline--fa.fa-right-from-bracket.icon {
  background-color: #f8f5f2 !important;
  color: #123458;
}
